// @import '../../../../vendor/pace/pace-orange-min.css';
// @import '../../../../assets/scss/color1';

// .top-header{
//     background-color: #64AED9 !important;
//     height: 56px !important;
// }


// .top-header .header-contact{
//     padding: 10px 0px !important;
// }

// .top-header .header-dropdown li a{
//     color: #FFF !important;
// }

// .top-header .header-dropdown li a i{
//     color: #FFF !important;
// }

// .top-header .header-dropdown li{
//     color: #FFF !important;
// }

// .menu-center {
//     display: flex;
//   }

//   .sticky{
//       box-shadow: 0 1px 1px 0 rgba(0,0,0,.16) !important;
//   }


  


//   // Responsive For Toggle Icon //
//   @media (max-width: 577px){
//     .main-nav-center .toggle-nav {
//     top: -65px !important;
// }
// .toggle-nav i{
//     color: #fff !important;
// }
// }


.header-6 .top-header{
    background-color: #64AED9 !important;
}

.form_search{
    border-radius: 0px !important;
}

.form_search button i {
    color: #64aed9 !important;
}