.breadcrumb-section{
    padding: 5px 0px !important;
}

section, .section-t-space{
    padding-top: 40px !important;
}

.img-zoom-result{
    width: 500px !important;
}

.payment_method li {
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
}