<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>product</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">product</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space">
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 collection-filter">
          <product-details-sidebar></product-details-sidebar>
        </div>
        <div class="col-lg-7 col-sm-12 col-xs-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-12">
                <div class="filter-main-btn mb-2">
                  <span class="filter-btn" (click)="mobileSidebar()"><i class="fa fa-bars" aria-hidden="true"></i> sidebar</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <ngx-slick-carousel class="product-slick" id="p-zoom" #slickModal="slick-carousel" [config]="slideConfig">
                  <div ngxSlickItem *ngFor="let image of product.pictures">
                    <div>
                      <ngx-img-zoom [previewImageSrc]="image"  [zoomImageSrc]="image" [imgStyle]="'width:100%; height:100%;'"
                       [resultStyle]="'background-repeat: no-repeat; z-index: 2; position:absolute;background-size: 1614px 2064px;width: 100%;height: 100%;
                       -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;'" [lensStyle]="'width:100px; height:100px'" [containerStyle]="'position: relative;'" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
                      </ngx-img-zoom>
                    </div>
                  </div>
                </ngx-slick-carousel>
                <div class="row">
                  <div class="col-12 p-0">
                    <ngx-slick-carousel class="slider-nav" #slickModal="slick-carousel" [config]="slideNavConfig">
                      <div ngxSlickItem *ngFor="let image of product.pictures">
                        <div>
                          <img [src]="image" alt="" class="img-fluid">
                         </div>
                        </div>
                    </ngx-slick-carousel>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 rtl-text">
                <div class="product-right">
                  <h2>{{product.name}}</h2>
                  <h4 *ngIf="!productsService?.catalogMode"><del>{{product.salePrice | currency:productsService?.currency:'symbol'}}</del><span>{{product.discount}}% off</span></h4>
                  <h3 *ngIf="!productsService?.catalogMode">{{product.price | currency:productsService?.currency:'symbol'}}</h3>
                  <ul class="color-variant" *ngIf="product.variants && !productsService?.catalogMode">
                    <li [class]="variant.color" (click)="slickModal.slickGoTo(i)" *ngFor="let variant of product.variants let i = index"></li>
                  </ul>
                  <div class="pro_inventory" *ngIf="product.stock != 0 && product.stock <= 5 && !productsService?.catalogMode">
                    <p class="active">
                      Hurry! We have only {{product.stock}} product in stock.
                    </p>
                    <div class="inventory-scroll nostripes active">
                      <span style="width: 95%;"></span>
                    </div>
                  </div>
                  <div class="product-description border-product" *ngIf="!productsService?.catalogMode">
                    <h6 class="product-title size-text" *ngIf="product.size">
                        select size
                        <span><a href="">size chart</a></span>
                    </h6>
                    <div class="size-box" *ngIf="product.size">
                      <ul>
                        <li [ngClass]="{'active': selectedSize == size}" *ngFor="let size of product.size">
                          <a [routerLink]="" (click)="changeSizeVariant(size)">{{size}}</a>
                        </li>
                      </ul>
                    </div>
                    <h5 class="avalibility" *ngIf="counter <= product.stock"><span>In Stock</span></h5>
                    <h5 class="avalibility" *ngIf="counter > product.stock"><span>Out of Stock</span></h5>
                    <h6 class="product-title">quantity</h6>
                    <div class="qty-box">
                      <div class="input-group">
                        <span class="input-group-prepend">
                                <button type="button" (click)="decrement()" class="btn quantity-left-minus" data-type="minus" data-field="">
                                 <i class="ti-angle-left"></i>
                             </button>
                         </span>
                        <input type="text"  name="quantity" disabled class="form-control input-number" value="{{counter}}">
                        <span class="input-group-prepend">
                            <button type="button" (click)="increment()" class="btn quantity-right-plus" data-type="plus" data-field="">
                                <i class="ti-angle-right"></i>
                            </button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="product-buttons" *ngIf="!productsService?.catalogMode">
                    <a [routerLink]="" (click)="addToCart(product, counter)" class="btn btn-solid" [class.disabled]="counter > product.stock">add to cart</a>
                    <a [routerLink]="" (click)="buyNow(product, counter)" class="btn btn-solid" [class.disabled]="counter > product.stock">buy now</a>
                  </div>
                  <div class="border-product">
                    <h6 class="product-title">product details</h6>
                    <p>{{product.shortDetails}}</p>
                  </div>
                  <div class="border-product">
                    <h6 class="product-title">share it</h6>
                    <div class="product-icon">
                      <ul class="product-social">
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/discover"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                      </ul>
                      <form class="d-inline-block" *ngIf="!productsService?.catalogMode">
                        <button class="wishlist-btn" (click)="addToWishlist(product)"><i class="fa fa-heart"></i><span class="title-font">Add To WishList</span></button>
                      </form>
                    </div>
                  </div>
                  <div class="border-product" *ngIf="!productsService?.catalogMode">
                    <h6 class="product-title">Time Reminder</h6>
                    <div class="timer">
                      <p id="timer">
                        <span>25
            <span class="padding-l">:</span>
                        <span class="timer-cal">Days</span>
                        </span>
                        <span>22
            <span class="padding-l">:</span>
                        <span class="timer-cal">Hrs</span>
                        </span>
                        <span>13
            <span class="padding-l">:</span>
                        <span class="timer-cal">Min</span>
                        </span>
                        <span>57
            <span class="timer-cal">Sec</span>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="tab-product m-0">
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="top-home-tab" data-toggle="tab" href="#top-home" role="tab" aria-selected="true">
                <i class="icofont icofont-ui-home"></i>Description</a>
                    <div class="material-border"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-top-tab" data-toggle="tab" href="#top-profile" role="tab" aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>Details</a>
                    <div class="material-border"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="contact-top-tab" data-toggle="tab" href="#top-contact" role="tab" aria-selected="false">
                    <i class="icofont icofont-contacts"></i>Video</a>
                    <div class="material-border"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="review-top-tab" data-toggle="tab" href="#top-review" role="tab" aria-selected="false">
                        <i class="icofont icofont-contacts"></i>Write Review</a>
                    <div class="material-border"></div>
                  </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                  <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                    <p>{{product.description}}</p>
                  </div>
                  <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                    <p>{{product.shortDetails}}</p>
                    <div class="single-product-tables">
                      <table>
                        <tbody>
                          <tr>
                            <td>Febric</td>
                            <td>Chiffon</td>
                          </tr>
                          <tr>
                            <td>Color</td>
                            <td>Red</td>
                          </tr>
                          <tr>
                            <td>Material</td>
                            <td>Crepe printed</td>
                          </tr>
                        </tbody>
                      </table>
                      <table>
                        <tbody>
                          <tr>
                            <td>Length</td>
                            <td>50 Inches</td>
                          </tr>
                          <tr>
                            <td>Size</td>
                            <td>S, M, L .XXL</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="top-contact" role="tabpanel" aria-labelledby="contact-top-tab">
                    <div class="mt-3 text-center">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/BUWzX78Ye_8" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                    <form class="theme-form">
                      <div class="form-row">
                        <div class="col-md-12 ">
                          <div class="media">
                            <label>Rating</label>
                            <div class="media-body ml-3">
                              <div class="rating three-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" id="name" placeholder="Enter Your name" required>
                        </div>
                        <div class="col-md-6">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" id="email" placeholder="Email" required>
                        </div>
                        <div class="col-md-12">
                          <label for="review">Review Title</label>
                          <input type="text" class="form-control" id="review" placeholder="Enter your Review Subjects" required>
                        </div>
                        <div class="col-md-12">
                          <label for="review">Review Title</label>
                          <textarea class="form-control" placeholder="Wrire Your Testimonial Here" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                          <button class="btn btn-solid" type="submit">Submit YOur Review</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="col-sm-2">
          <div class="card bg-light">
            <div class="card-body">
              <p class="card-text" style="font-weight:500;">Delivery Options</p>
              <hr/>
              <p class="card-text"> <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Home Delivery</p>
              <p><i class="fa fa-circle-o" aria-hidden="true"></i> 2-3 business days</p>

              <p><i class="fa fa-truck"></i> Free Shipping</p>
              <p style="font-size:13px;"><i class="fa fa-circle-o" aria-hidden="true"></i> Express delivery within dhaka.</p>
              <p style="font-size:13px;"><i class="fa fa-circle-o" aria-hidden="true"></i> Delivery charge: 100 TK outside dhaka.</p>

              <p class="cash_on_delivery"><i class="fa fa-money" aria-hidden="true"></i> Cash On Delivery Available</p>

              <hr/>

              <div class="order_by_call">
                <p style="font-weight:500;">Order By Call</p>
                <p style="font-size:14px;color:#212121;"><i class="fa fa-phone-square" aria-hidden="true"></i> +88 01885 - 998899 </p>
            </div>
            <hr/>
            
            <div class="payment_method">
              <p style="font-weight:500;">Payment Methods</p>              
              <!-- <img src="/plugins/layout/img/payments/bank_logo3.png" class="img-responsive" alt="payment methods" style="height: 115px;margin-left: 15px;"> -->
              <ul>
                <li><a href="/home/left-sidebar/product/3"><img  alt="" src="assets/images/icon/visa.png"></a></li>
                <li><a href="/home/left-sidebar/product/3"><img  alt="" src="assets/images/icon/mastercard.png"></a></li>
                <li><a  href="/home/left-sidebar/product/3"><img alt="" src="assets/images/icon/paypal.png"></a></li>
                <li><a href="/home/left-sidebar/product/3"><img  alt="" src="assets/images/icon/american-express.png"></a></li>
                <li><a href="/home/left-sidebar/product/3"><img  alt="" src="assets/images/icon/discover.png"></a></li>
              </ul>
          </div>

          <hr/>

          <div class="store_information">
            <p style="font-weight:500;">Store Information</p>
            <p style="font-size:14px;color:#212121;">
              <a target="_blank" href="/Home/Contact" style="text-decoration: none;"><i class="fa fa-search" aria-hidden="true"></i> Find A Store</a>
            </p>
        </div>
        <hr/>

        <div class="product_return">
          <p style="font-weight:500;">Product Return</p>
          <p style="font-size:14px;color:#212121;">
              <a href="/WebContent/ReturnForm" target="_blank" style="text-decoration: none;"><i class="fa fa-undo" aria-hidden="true"></i> Return Form</a>
          </p>
      </div>
      <hr/>

      <div class="change_condition">
        <p style="font-weight:500;">Change Condition</p>
        <p style="font-size: 13px;color: #512927;text-align: justify;">If for any reason you are not completely satisfied with your purchase, you may return the item(s) free of charge to any SaRa Lifestyle store for an exchange or refund. <a href="/WebContent/ReturnPolicy" target="_blank">details</a></p>
    </div>
    <hr>

    <div class="return_options">
      <p style="font-weight:500;">Return Policy</p>
      <p style="font-size:14px;color:#212121;"><i class="fa fa-undo" aria-hidden="true"></i> 15 Days Returns</p>
      <hr>
      <p class="text-center">
          <a target="_blank" href="/Product/ProductList?categoryId=8&amp;subCategoryId=40&amp;subSubCategoryId=86" class="text-center">GO TO SHOP</a>
      </p>
  </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->
<!-- Modal size chart -->
<div class="modal fade" id="sizemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ product.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/size-chart.jpg" alt="" class="img-fluid">
       </div>
      </div>
    </div>
  </div>
