<div class="footer-title">
    <h4>Customer Service</h4>
</div>
<div class="footer-contant">
    <ul>
        <li><a [routerLink]="">Contact Us</a></li>
        <li><a [routerLink]="">How to order</a></li>
        <li><a [routerLink]="">Billing &amp; Payments</a></li>
        <li><a [routerLink]="">Nationwide Fast Shipping &amp; Delivery</a></li>
        <li><a [routerLink]="">Track Your Orders</a></li>        
        <li><a [routerLink]="">Replacement Policy</a></li>
        <li><a [routerLink]="">Site Map</a></li>
    </ul>
</div>