
<!-- Product slider -->
<section class="section-b-space p-t-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title1  section-t-space product-slider">
          <div class="topbar_collection">
            <h2 class="title-inner1">top collection</h2>
            <button type="button" class="btn btn-info pull-right">View All</button>
          </div>
          <ngx-slick-carousel class="product-4 product-m no-arrow" #slickModal="slick-carousel" [config]="productSlideConfig">
            <div ngxSlickItem class="product-box" *ngFor="let product of products | slice:0:16">
               <app-product [product]="product"></app-product>
            </div>
          </ngx-slick-carousel>
        </div>
        
   
      </div>
    </div>
  </div>
</section>
<!-- Product slider end -->
