.title1 .title-inner1 {
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}

// Dummy Test Css //@extend
.section-b-space{
    padding-bottom: 0px !important;
}

.section-t-space{
    padding-top: 20px !important;
}

.title1{
    text-align: left !important;
}
.title-inner1{
    font-size: 22px !important;
    line-height: 32px !important;
    display: inline-block !important;
    font-weight: 600 !important;
}

.title1 .title-inner1:after{
    display: none !important;
}

.product-slider{
    background: #fff;
    margin-top: 30px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}

.topbar_collection{
    padding: 0px 15px !important;
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
    margin-bottom: 20px !important;
}