<!-- collection banner -->
<section class="pb-0 collection_banner">
  <div class="container">
    <div class="row partition2">
      <div [ngClass]="{'col-md-4': banners.length === 3, 'col-md-6 mb-2': banners.length !== 3}" *ngFor="let ct of banners">
        <a [routerLink]="ct.navigateUrl">
          <div class="collection-banner p-right text-center">
            <img [src]="fileUrl + ct.imagePath" class="img-fluid" alt="">
            <div class="contain-banner">
              <div>
                <h4>{{ct.description}}</h4>
                <h2>{{ct.title}}</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- collection banner end -->
