<app-slider [sliders]="sliders"></app-slider>
<app-collection-banner [banners]="banners"></app-collection-banner>
<app-product-slider [products]="products"></app-product-slider>
<!-- <app-parallax-banner></app-parallax-banner> -->
<!-- <app-product-tab [products]="products"></app-product-tab> -->

<app-collection-banner [banners]="banners"></app-collection-banner>
<app-product-slider [products]="products"></app-product-slider>

<app-collection-banner [banners]="banners"></app-collection-banner>
<app-product-slider [products]="products"></app-product-slider>

<app-collection-banner [banners]="banners"></app-collection-banner>
<app-product-slider [products]="products"></app-product-slider>

<app-collection-banner [banners]="banners"></app-collection-banner>
<app-product-slider [products]="products"></app-product-slider>

<app-services></app-services>

<!-- <app-blog></app-blog> -->
<!-- <app-instagram></app-instagram> -->

<!-- <app-logo></app-logo> -->

<app-quick-view></app-quick-view>
<app-modal-cart></app-modal-cart>
<app-exit-popup></app-exit-popup>
<!-- <app-newsletter></app-newsletter> -->

