// .slider-contain{
//     height: 280px !important;
//     width: 100% !important;
// }
// .home-slider .home, .center-slider .home{
//     height: 280px !important;
// }

.home-slider .home, .center-slider .home{
    height: 300px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.home-slider .slider-contain, .center-slider .slider-contain{
    height: 300px !important;
}