<!-- Home slider -->
<section class="container p-0 mt-2" style="height: 300px;">
  <ngx-slick-carousel class="home-slider" #slickModal="slick-carousel" [config]="sliderConfig">
    <div ngxSlickItem *ngFor="let slider of sliders">
      <div class="home text-center" [ngStyle]="{'background-image': getUrl(slider)}">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div>
                  <h4>{{slider.title}}</h4>
                  <h1>{{slider.description}}</h1>
                  <a [routerLink]="slider.navigateUrl" class="btn btn-solid">shop now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>

</section>
<!-- Home slider end -->
