
// .mobile-account > ul > li > a{
//     color: #000 !important;
// }

// .logo{
//     padding: 15px 0px !important;
// }

// .mobile-wishlist img{
//     width: 20px !important;
//     height: auto !important;
// }

//   // Responsive For Logo //
//   @media (max-width: 577px){
//     .logo{
//         padding: 0px 0px !important;
//     }
//     .brand-logo {
//         position: absolute;
//         left: 15% !important;
//         margin-right: -50%;
//         -webkit-transform: translateX(-50%);
//         transform: translateX(-50%);
//         padding-top: 16px !important;
//         padding-bottom: 30px !important;
//     }

// }


