<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>customer's login</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
                        <li class="breadcrumb-item active" >login</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    <form class="theme-form" #loginForm="ngForm"  (ngSubmit)="login()">
                        <div class="form-group">
                            <label for="userName">User Name / Email</label>
                            <input type="text" name="userName" class="form-control" id="userName" placeholder="User Name / Email" required [(ngModel)]="model.userName">
                        </div>
                        <div class="form-group">
                            <label for="review">Password</label>
                            <input type="password" name="password" class="form-control" id="review" placeholder="Enter your password" required [(ngModel)]="model.password">
                        </div>
                        <button class="btn btn-solid" type="submit" [disabled]="!loginForm.valid">Login</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create A Account</h6>
                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
                    <button class="btn btn-solid">Create an Account</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->