<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>create account</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">create account</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="registerForm" (submit)="onSubmit()">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="userName">User Name <span class="text-danger">*</span></label>
                                <input type="text" [ngClass]="{'is-invalid': registerForm.get('userName').errors 
                                && (registerForm.get('userName').touched 
                                || registerForm.get('userName').dirty)}" class="form-control" formControlName="userName" id="userName" placeholder="User Name">
                            </div>
                            <div class="col-md-6">
                                <label for="email">Email  <span class="text-danger">*</span></label>
                                <input type="text" [ngClass]="{'is-invalid': registerForm.get('email').errors 
                                && (registerForm.get('email').touched 
                                || registerForm.get('email').dirty)}" class="form-control" formControlName="email" id="email" placeholder="Email" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="phoneNumber">Phone <span class="text-danger">*</span></label>
                                <input type="text" [ngClass]="{'is-invalid': registerForm.get('phoneNumber').errors 
                                && (registerForm.get('phoneNumber').touched 
                                || registerForm.get('phoneNumber').dirty)}" class="form-control" formControlName="phoneNumber" id="lname" placeholder="Phone Number" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="password">password  <span class="text-danger">*</span></label>
                                <input type="password" [ngClass]="{'is-invalid': registerForm.get('password').errors 
                                && (registerForm.get('password').touched 
                                || registerForm.get('password').dirty)}" class="form-control" formControlName="password" id="lname" placeholder="password" required="">
                            </div>
                            <button class="btn btn-solid" type="submit">create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->