<div class="icon-nav">
  <ul>
    <li class="onhover-div mobile-search search-widgets" id="search-widgets">
      <div>
        <img src="assets/images/icon/search.png" (click)="openSearch()" class="img-fluid" alt="">
        <i class="ti-search" (click)="openSearch()"></i>
      </div>
    </li>
    <!-- <li class="onhover-div mobile-setting">
      <div><img src="assets/images/icon/setting.png" class="img-fluid" alt="">
        <i class="ti-settings"></i></div>
      <div class="show-div setting">
        <h6>language</h6>
        <ul>
          <li><a [routerLink]="" (click)="changeLanguage('en')">English</a> </li>
          <li><a [routerLink]="" (click)="changeLanguage('fr')">French</a> </li>
        </ul>
        <h6 *ngIf="!productsService?.catalogMode">currency</h6>
        <ul class="list-inline" *ngIf="!productsService?.catalogMode">
          <li><a [routerLink]="" (click)="updateCurrency('USD')">Dollar</a> </li>
          <li><a [routerLink]="" (click)="updateCurrency('EUR')">Euro</a> </li>
          <li><a [routerLink]="" (click)="updateCurrency('INR')">Rupees</a> </li>
          <li><a [routerLink]="" (click)="updateCurrency('GBP')">Pound</a> </li>
        </ul>
      </div>
    </li> -->
    <li class="onhover-div mobile-cart" *ngIf="!productsService?.catalogMode">
      <div>
        <a [routerLink]="'/home/cart'">
          <img src="assets/images/icon/cart.png" class="img-fluid" alt="">
          <i class="ti-shopping-cart"></i>
        </a>
      </div>
      <ul class="show-div shopping-cart" *ngIf='!shoppingCartItems.length'>
        <h5>Your cart is currently empty.</h5>
      </ul>
      <span class="cart_qty_cls">{{shoppingCartItems.length}}</span>
      <ul class="show-div shopping-cart" *ngIf='shoppingCartItems.length'>
        <li *ngFor="let item of shoppingCartItems">
          <div class="media">
            <a [routerLink]="['/home/left-sidebar/product', item.product.id]"><img class="mr-3" [src]="item.product.pictures[0]" alt="Generic placeholder image"></a>
            <div class="media-body">
              <a [routerLink]="['/home/left-sidebar/product', item.product.id]"><h4>{{ item.product.name }}</h4></a>
              <h4><span>{{ item.quantity }} x {{ item.product.price | currency:productsService?.currency:'symbol' }}</span></h4>
            </div>
          </div>
          <div class="close-circle">
            <a (click)="removeItem(item)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        </li>
        <li>
          <div class="total">
            <h5>subtotal : <span>{{ getTotal() | async | currency:productsService?.currency:'symbol'}}</span></h5>
          </div>
        </li>
        <li>
          <div class="buttons">
            <a [routerLink]="'/home/cart'" class="view-cart">view cart</a>
            <a [routerLink]="'/home/checkout'" class="checkout">checkout</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- Search -->
<div id="search-overlay" class="search-overlay" *ngIf="show" [ngStyle]="{ 'display': 'block' }">
  <div>
    <span class="closebtn" title="Close Overlay" (click)="closeSearch()">×</span>
    <div class="overlay-content">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search a Product">
              </div>
              <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
