<div class="footer-title">
    <h4>Help</h4>
</div>
<div class="footer-contant">
    <ul>
        <li><a [routerLink]="'/home/left-sidebar/collection/women'">FAQ</a></li>
        <li><a [routerLink]="'/home/left-sidebar/collection/men'">Privacy Policy</a></li>
        <li><a [routerLink]="'/home/left-sidebar/collection/kids'">Terms &amp; Conditions</a></li>
        <li><a [routerLink]="'/home/left-sidebar/collection/all'">Cookie Policy</a></li>
        <li><a [routerLink]="'/home/left-sidebar/collection/all'">Cancellation</a></li>
        <li><a [routerLink]="'/home/left-sidebar/collection/all'">Replacement Form</a></li>
    </ul>
</div>