/* You can add global styles to this file, and also import other style files */
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #dc3545 !important;
}

.tap-top{
    background-color: #64AED9 !important;
}
