.breadcrumb-section{
    padding: 5px 0px !important;
}
.section-b-space{
    padding-top: 40px !important;
    background: #FFF !important;
}
.checkout-input-form{
    position: relative !important;
    background-color: #f9f9f9 !important;
    border: 1px solid #dddddd !important;
    padding: 40px !important;
}
.stripe-section{
    background: #FFF !important;
}