.m-toggle {
    right: 0px;
}
.pixelstrap>li:last-child>:not(ul) a, .pixelstrap>li:last-child>a, .pixelstrap>li:last-child>ul, .pixelstrap>li:last-child>ul>li:last-child>:not(ul) a, .pixelstrap>li:last-child>ul>li:last-child>a, .pixelstrap>li:last-child>ul>li:last-child>ul, .pixelstrap>li:last-child>ul>li:last-child>ul>li:last-child>:not(ul) a, .pixelstrap>li:last-child>ul>li:last-child>ul>li:last-child>a, .pixelstrap>li:last-child>ul>li:last-child>ul>li:last-child>ul, .pixelstrap>li:last-child>ul>li:last-child>ul>li:last-child>ul>li:last-child>:not(ul) a, .pixelstrap>li:last-child>ul>li:last-child>ul>li:last-child>ul>li:last-child>a, .pixelstrap>li:last-child>ul>li:last-child>ul>li:last-child>ul>li:last-child>ul, .pixelstrap>li:last-child>ul>li:last-child>ul>li:last-child>ul>li:last-child>ul>li:last-child>:not(ul) a, .pixelstrap>li:last-child>ul>li:last-child>ul>li:last-child>ul>li:last-child>ul>li:last-child>a, .pixelstrap>li:last-child>ul>li:last-child>ul>li:last-child>ul>li:last-child>ul>li:last-child>ul {
    border-radius: 0 0 0 0 !important;
}

.pixelstrap .full-mega-menu{
    width: 100% !important;
}